<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="client_id" value=""/>
    <add key="client_key" value=""/>
    <add key="local_path_segments" value="coolcalc/client/"/>
    <add key="api_domain" value="https://stagingapi.coolcalc.com"/>
    <add key="mj8_report_url" value="https://stagingapi.coolcalc.com/staging/MJ8Reports/?reportId="/>
    <!-- Optional if you will use api2pdf-->
    <add key="api2pdf_key" value=""/>
  </appSettings>
  <system.webServer>
    <!-- 
    Rewrite rule for coolcalc-api. 
    -->
    <rewrite>
      <rules>
        <rule name="Rewrite API">
          <match url="^coolcalc/client/staging/dealers/*"/>
          <action type="Rewrite" url="/coolcalc/client/DealerCollectionHandler.ashx"/>
        </rule>
        <rule name="Rewrite MJ8eports">
          <match url="^coolcalc/client/staging/MJ8Reports/*"/>
          <action type="Rewrite" url="/coolcalc/client/MJ8Reports.ashx"/>
        </rule>
        <rule name="HTTP to HTTPS" stopProcessing="true">
          <match url="(.*)"/>
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$"/>
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="SeeOther"/>
        </rule>
      </rules>
    </rewrite>
    <defaultDocument>
      <files>
        <add value="coolcalc/ui/mj8/v-bootstrap/staging/restui.html"/>
      </files>
    </defaultDocument>
    <!--
    Allow WEB API requests that use PUT AND DELETE verbs.
    -->
    <handlers>
      <remove name="SimpleHandlerFactory-Integrated-4.0"/>
      <add name="SimpleHandlerFactory-Integrated-4.0" path="*.ashx" verb="GET,HEAD,POST,DEBUG,PUT,DELETE" type="System.Web.UI.SimpleHandlerFactory" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    
    <!-- 
    If the application will be in another server, we need to enable CORS
    -->
    <!--<httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="X-CSRF-Token" />
        <add name="Access-Control-Expose-Headers" value="Location, Allow" />
        <add name="Access-Control-Allow-Methods" value="POST, PUT, GET, DELETE, OPTIONS" />
      </customHeaders>
    </httpProtocol>-->
    
    <!-- Set errorMode to detailed, to simply pass the HTTP 500 series error code and the JSON payload from our API on to the client -->
    <httpErrors errorMode="Detailed" />

  </system.webServer>

  <system.web>
    <compilation />
    <authentication mode="Forms" />
  </system.web>
</configuration>
